[submodule "third-party/DPVO"]
	path = third-party/DPVO
	url = https://github.com/princeton-vl/DPVO.git
[submodule "third-party/PHC_Lab"]
	path = third-party/PHC_Lab
	url = git@github.com:ZhengyiLuo/PHC_Lab.git
	branch = ye
